/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Asap:400);
@import url(http://fonts.googleapis.com/css?family=Asap:400italic);
@import url(http://fonts.googleapis.com/css?family=Asap:700);
@import url(http://fonts.googleapis.com/css?family=Asap:700italic);


/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#527a9c; text-decoration: underline; outline:none}
a:hover{ color:#527a9c; text-decoration: none; outline:none}

body{ background:url(../images/px1.jpg) center top #f4f4f4; border:0; font: 13px 'Asap', Arial, Helvetica, sans-serif; color:#51575d ; line-height:20px; min-width:320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

#inner{max-width: 1096px; margin: 0 auto; position: relative; background: #f4f4f4;}
.main #inner{padding-top: 70px;}


/* ============================= header ====================== */
.top1_wrapper{border-bottom: 9px solid #e2e2e2; background: url(../images/px2.jpg);}
.top1{background: url(../images/grad1.png) center bottom no-repeat;}
.subpage .top1{background-image: url(../images/grad2.png);}

.top2{padding-top: 25px; padding-bottom: 25px;}

header{float: left;}

.top3{float: right;}

.phone1{float: left; background: url(../images/phone1.png) left center no-repeat; padding-left: 50px;}
.phone1 .txt1{font-size: 14px; line-height: 14px; color: #fff;}
.phone1 .txt2{font-size: 30px; line-height: 30px; color: #fff; font-weight: 700;}

.phone2{padding-top: 10px; padding-bottom: 30px; background: url(../images/px3.png) left bottom repeat-x; text-align: center;}
.phone2 .txt1{font-size: 34px; line-height: 40px; color: #3a3b3d; font-weight: 700;}
.phone2 .txt2{font-size: 24px; line-height: 30px; color: #777777; font-weight: 400;}


/* ============================= content ====================== */
#content{padding-top: 0px; padding-bottom: 40px;}

/* ============================= slider3 ====================== */
#slider3{position: relative;}

.paginations3{text-align: center; padding-top: 20px; padding-bottom: 20px;}

.prev3{display: block; width: 25px; height: 25px; background: url(../images/prev3.png) left top no-repeat;display: inline-block;opacity: 0.7; filter: alpha(opacity=70); margin: 0 5px;}
.prev3:hover{opacity: 1; filter: alpha(opacity=100);}
.next3{display: block; width: 25px; height: 25px; background: url(../images/next3.png) left top no-repeat;display: inline-block;opacity: 0.7; filter: alpha(opacity=70); margin: 0 5px;}
.next3:hover{opacity: 1; filter: alpha(opacity=100);}

.slider3-title{font-family: 'Julius Sans One'; font-weight: 400; font-size: 30px; line-height: 30px; color: #2a2a2a; text-transform: uppercase; padding-bottom: 50px; text-align: center;}
.carousel-box{position: relative;}
.carousel-box .inner{position: relative; overflow: hidden;}
.carousel.main{position: relative; overflow: hidden; width: auto; margin: 0; padding: 0; margin-right: -20px;}
.caroufredsel_wrapper{padding: 0; margin: 0;}
.caroufredsel_wrapper ul{padding: 0; margin: 0;}
.carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:20px }


/* ============================= footer ====================== */
.bot1{background: #0b3c66; position: relative; z-index: 1; padding-top: 40px; padding-bottom: 20px; color: #aaaaaa;}
.bot1 a{color: #aaaaaa;}

footer{padding-top: 15px;}

.copyright{}
.copyright a{color: #aaaaaa;}
.copyright a:hover{color: #fff;}

.bot1_title{font-family: 'Asap'; font-weight: 700; font-size: 18px; line-height: 20px; color: #fff; padding-top: 20px; padding-bottom: 20px;}

.social_wrapper{}
.social{ display: block; margin: 0 0px; padding-top: 0px; list-style: none; white-space: nowrap;}
.social li{display: inline-block; margin: 0 4px; float: left;}
.social li a{opacity: 1; filter: alpha(opacity=100);}
.social li a:hover{opacity: 0.6; filter: alpha(opacity=60);}

/* ============================= main menu ====================== */
.menu_wrapper{height: 61px; background: url(../images/nav_bg.jpg) 0 0 repeat-x;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-bottom: 20px;}
.navbar_ { margin: 0; padding: 0; background: none; position: relative;z-index: 30;}
.navbar_ .navbar-inner_ { padding: 0; margin: 0; border: none; min-height: inherit; background: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; filter:none; }
.navbar_ .btn-navbar { background: url(../images/btn-navbar.png) right center no-repeat; border: none;box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; margin: 0; padding: 0; float: none; height: 61px;}
.navbar_ .btn-navbar:hover{background: url(../images/btn-navbar_over.png) right center no-repeat;}
.navbar_ .btn-navbar .icon-bar{background-image: none; display: none;}
.nav-collapse_.collapse{ position:relative; display:block; text-align: center;}
.navbar_ .nav{ position: relative; float: none; margin: 0; padding: 0; display: block; left: auto;}
.navbar_ .nav > li{position: relative; display: block; float: left; padding-left: 2px; white-space: nowrap; background: url(../images/marker0.jpg) left top no-repeat;}
.navbar_ .nav > li:first-child{background: no-repeat;padding-left: 0;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Asap'; font-weight: 400; font-size: 16px; line-height: 61px; color: #265a94; text-shadow:none; padding: 0px 23px; border: none; margin: 0; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;
transition: color 0.3s ease-out; -moz-transition: color 0.3s ease-out; -webkit-transition: color 0.3s ease-out; -o-transition: color 0.3s ease-out;
}
.navbar_ .nav > li:first-child > a{border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;}
.navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus, .navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover.active > a, .navbar_ .nav > li.sfHover > a:hover{color: #fff; text-decoration: none; background: url(../images/nav.jpg) 0 0 repeat-x;  box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.navbar_ .nav > li.active > a{color: #265a94; font-weight: 700; text-decoration: none; background:none;  box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}

.sub-menu ul { position: absolute; display: none; left: 2px; top: 61px; list-style: none; zoom: 1; z-index: 109; margin: 0; padding:10px 23px; background: #efefef; text-align: left; }
.sub-menu li { margin: 0; position: relative; zoom: 1; display: block; border-top: 1px solid #cecece;}
.sub-menu li:first-child{border: none;}
.sub-menu li a{display: block; position: relative; font-family:'Asap'; font-weight: 400; font-size: 16px; line-height: 30px; color: #265a94; text-decoration: none; padding: 0px; 
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #c44a3f; background: none;}

.sub-menu li a em{display: inline-block; width: 7px; height: 10px; background: url(../images/marker1.png) left top no-repeat; position: absolute; right: 8px; top: 50%; margin-top: -5px;}
.sub-menu li a:hover em{background-position: bottom;}

.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: -8px; margin-left: 9px; background: #181311;}

/* ============================= menu bot ====================== */
.menu_bot { display:inline-block; float: left; position: relative; z-index:10; text-align:center; white-space:nowrap; padding-top: 20px; }
#menu_bot { list-style: none; display:inline-block; white-space:nowrap;  padding: 0; margin: 0;}
#menu_bot > li { list-style: none; display: inline-block; height:24px; line-height: 24px; margin-left: 35px; position:relative; float:left; white-space:nowrap;}
#menu_bot > li:first-child{ margin-left: 0;}
#menu_bot > li > a{ display:block; height:100%; text-decoration:none; position:relative; font-family:'Sancreek'; font-weight: 400; font-size: 15px; color: #ece1d7;}
#menu_bot > li.active > a, #menu_bot > li > a:hover, #menu_bot > li > a:focus{color: #faa709; text-decoration: none;}

/* ============================= search-form ====================== */
.search-form-wrapper{float: right; padding-left: 20px; padding-top: 10px;}
.navbar-form { float: right; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; }
.navbar-form input { width: 120px; height: 20px; font-size: 13px; font-style: italic; line-height: 20px; color:#8a8a8a; background: #04162e; border: none; border: 1px solid #233c5d; margin: 0; padding: 5px 50px 5px 10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -moz-box-shadow: inset  0px 3px 20px 3px  #04162e; -webkit-box-shadow: inset  0px 3px 20px 3px  #04162e; box-shadow: inset  0px 3px 20px 3px  #04162e; }
.navbar-form input:focus {color: #fff; border-color: #416ca4;-moz-box-shadow: inset  none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-form a {text-decoration: none; margin: 0; display: inline-block;  width: 42px; height: 28px; background: url(../images/search.png) left top no-repeat; position:absolute; right:0; top: 1px; }
.navbar-form a:hover { background-position: right;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }

/* ============================= main layout ====================== */
h1{ font-family:'Asap'; font-weight:700; font-size:30px; color:#0b3c66; line-height:30px; padding:20px 0 20px 0; margin: 0;}

h2{ font-family:'Asap'; font-weight:700; font-size:24px; color:#0b3c66; line-height:24px; padding:20px 0 20px 0; margin: 0;}

h3{ font-family:'Asap'; font-weight:700; font-size:16px; font-style: italic; color:#527a9c; line-height:24px; padding:0px 0 10px 0; margin: 0;}



h6{ font-family:'Asap'; font-weight:700; font-size:16px; font-style: italic; color:#527a9c; line-height:24px; padding:0px 0 10px 0; margin: 0;}


.upper { text-transform:uppercase;}

a.color1{ color:#f45042;}

.line1 { height:50px; background:url(../images/px3.png) center center repeat-x; margin:0;}

.radius1{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.pad_top1{padding-top: 20px;}

/* === */

.banners{padding-top: 20px; padding-bottom: 10px;}
.banners .banner_inner{padding-bottom: 20px;}
.banners a{display: block; text-decoration: none; background: #fff; border: 1px solid #bababa; position: relative; overflow: hidden; padding: 20px;}
.banners a .txt1{font-size: 22px; color: #0b3c66; font-weight: 700; line-height: 30px; padding-bottom: 0px; position: relative; z-index: 1;}
.banners a:hover .txt1{color: #f45042;}
.banners a .txt2{font-size: 22px; color: #f45042; font-weight: 700; line-height: 30px; padding-bottom: 30px; position: relative; z-index: 1;}
.banners a:hover .txt2{color: #0b3c66;}
.banners a .txt3{display: inline-block; height: 37px; line-height: 37px; background: url(../images/px4.png) 0 0 repeat-x; padding: 0 20px; font-size: 16px; color: #515151; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; position: relative; z-index: 1;}
.banners a:hover .txt3{color: #fff;}
.banners a .img{position: absolute; right: 0; bottom: 14px; 
z-index: 0;
}

.button1{ display:inline-block; line-height:20px;  text-decoration: none; margin-top:10px; margin-bottom:10px; font-size:15px; font-family:'Asap'; font-weight: 700; color:#fff; font-style: italic; white-space:nowrap; letter-spacing:0px; background:#0b3c66; padding:8px 20px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.button1:hover { color:#fff; background: #f45042;}

.button2{ display:inline-block; line-height:20px;  text-decoration: underline; margin-top:10px; margin-bottom:10px; font-size:15px; font-family:'Asap'; font-weight: 700; color:#0666b7; font-style: italic; white-space:nowrap; letter-spacing:0px; background:url(../images/button2.png) right center no-repeat; padding-right: 15px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.button2:hover { color:#000;}

.date1{min-height: 52px; background: url(../images/date1.png) 0 0 no-repeat; padding-left: 70px; margin-bottom: 20px;}
.date1 .txt1{font-size: 20px; line-height: 25px; font-weight: 700; font-style: italic; color: #527a9c; padding-bottom: 5px;}

.box1{background: #e9e9e9; padding: 0 20px 20px 20px; margin-top: 20px;}

.ul1{ padding: 0; margin: 0; list-style: none; padding-bottom: 0px;}
.ul1 > li {color: #51575d; padding: 0 0 8px 0; margin: 0;}
.ul1 > li a{color:#51575d; text-decoration: none; line-height: 20px; padding:3px 0px 2px 35px; margin: 0px 0px 0px 0px; background: url(../images/li_st1.png) 0px center no-repeat; display: block;}
.ul1 > li a:hover{color:#0666b7; text-decoration: none; }

.breadcrumbs1{padding: 15px 0; line-height: 20px; color: #0b3c66; background: url(../images/px3.png) left bottom repeat-x; margin-bottom: 15px;}
.breadcrumbs1 a{color: #0b3c66;}
.breadcrumbs1 a:hover{color: #000;}
.breadcrumbs1 span{display: inline-block; width: 6px; height: 9px; background: url(../images/breadcrumbs1.png) 0 0 no-repeat; margin: 0 15px;}

.testimonial1{margin-bottom: 30px;}
.testimonial1 .txt1{background: #527a9c; padding:20px; line-height: 20px; font-style: italic; color: #fff; font-weight: 400; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.testimonial1 .txt2{padding-left: 50px; padding-top: 15px;  color: #0b3c66; background: url(../images/testimonial1.png) 20px 0px no-repeat; font-size: 16px; font-weight: 700; font-style: italic;}

.google_map{ position: relative; overflow: hidden; margin: 0 0 20px 0; padding: 5px; background: #fff; border: 1px solid #c6c6c6;line-height: 1px;}
.google_map iframe{position: relative; width: 100%; height: 330px; border: none; background: #fff;}



/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: #fff; border: 1px solid #c6c6c6;box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.thumbnail .caption{padding: 0; color: #51575d}

.thumb1 {margin-bottom: 20px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb1 figure{margin: 0; float: left; margin:0px 20px 20px 0px;}
.thumb1 figure img{width: auto;}
.thumb1 .caption{}

.thumb2 {margin-bottom: 20px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb2 figure{margin: 0; float: none; margin:0px 0px 0px 0px;}
.thumb2 figure img{width: 100%;}
.thumb2 .caption{}

.thumb3 {margin-bottom: 20px;}
.thumb3.last {margin-bottom: 0px;}
.thumb3 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;}
.thumb3 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb3 figure img{width: 100%;}
.thumb3 .caption{}






.thumb-staff {}
.thumb-staff .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; position: relative;}
.thumb-staff .thumbnail a{position: relative;  display: block; text-decoration: none; overflow: hidden;}
.thumb-staff .thumbnail a figure{position: relative; z-index: 1; margin: 0; float: none; margin:0px 0px 0px 0px; padding: 0px; background: none; border: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-staff .thumbnail a figure img{width: 100%;}
.thumb-staff .thumbnail a .caption{background: url(../images/corner1.jpg) left bottom repeat-x #527a9c; padding: 20px; text-align: center;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-staff .thumbnail a .caption .txt1{font-size: 18px; line-height: 25px; color: #fff; font-weight: 700; padding-bottom: 5px;}
.thumb-staff .thumbnail a .caption .txt2{font-size: 13px; line-height: 18px; color: #fff;}
.thumb-staff .thumbnail a:hover .caption{background: url(../images/corner1_over.jpg) left bottom repeat-x #eec400;}



.thumb-isotope {}
.thumb-isotope .thumbnail{padding: 0px; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none; }
.thumb-isotope .thumbnail a{position: relative;  display: block; text-decoration: none; padding: 0px;background: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover{}
.thumb-isotope .thumbnail a figure{position: relative; margin: 0; float: none; margin:0px 0px 0px 0px; padding: 0; background: #fff; border: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a img{width: 100%;}
.thumb-isotope .thumbnail a em{position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 2; background: url(../images/photo1.png) center center no-repeat; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover em{opacity: 1; filter: alpha(opacity=100);}
.thumb-isotope .thumbnail a .caption{color: #fff; background: url(../images/corner1.jpg) left bottom repeat-x #527a9c; padding: 20px; text-align: center;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb-isotope .thumbnail a:hover .caption{color: #fff;background: url(../images/corner1_over.jpg) left bottom repeat-x #eec400;}





/* ============================= accordion ====================== */
.accordion{ margin-bottom: 20px;}
.accordion-group{ margin-bottom: 1px; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.accordion-heading{border-bottom: 0;}
.accordion-heading .accordion-toggle{text-decoration: none; display: block; padding: 13px 20px 13px 70px;cursor: pointer; font-size: 16px; line-height: 20px; font-weight: bold; color: #0b3c66; background: url(../images/accordion1.png) 20px center no-repeat #e9e9e9;}
.accordion-heading .accordion-toggle:hover{ text-decoration: none; color: #fff; background: url(../images/accordion1_over.png) 20px center no-repeat #f45042;}
.accordion-inner{ background: #fff; border-top: none; padding: 10px 15px;}





/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; } 

#ajax-contact-form .control-group{margin-bottom: 10px;}
#ajax-contact-form .control-label{display: none;}
#ajax-contact-form .controls{margin-left: 0;}
#ajax-contact-form input, #ajax-contact-form textarea{background: #fff; border: 1px solid #d5d4d4; color: #51575d; padding-top: 10px; padding-bottom: 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: inset  0px 3px 20px 3px  #f2f2f2; -webkit-box-shadow: inset  0px 3px 20px 3px  #f2f2f2; box-shadow: inset  0px 3px 20px 3px  #f2f2f2;}
#ajax-contact-form input:focus, #ajax-contact-form textarea:focus{border-color:#aeacac; }
#ajax-contact-form textarea{height: 124px;}
#ajax-contact-form .control-group.capthca{margin-bottom: 0px;}
#ajax-contact-form .capthca input{width: 156px; float: left; margin-right: 30px;margin-bottom: 10px;}
#ajax-contact-form img{float:left; width:170px; height:42px;margin-bottom: 10px;}
#ajax-contact-form .submit{border: 0; margin: 0; display: inline-block;height: 36px; line-height:36px;  text-decoration: none;font-size:15px; font-family:'Asap'; font-weight: 700; font-style: italic; color:#fff; white-space:nowrap; letter-spacing:0px; background:#0b3c66; padding:0px 20px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
#ajax-contact-form .submit:hover{ color:#fff; background: #f45042;}


/*================= 404 =========================*/
.page-404{text-align: center;}
.page-404 .txt1{font-family:'Asap'; font-weight:700; font-size:220px; color:#0b3c66; line-height:220px; }
.page-404 .txt2{font-family:'Asap'; font-weight:400; font-size:70px; color:#0b3c66; line-height:70px; }





/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1200px) {

	#inner{max-width: 1294px; }

	.navbar_ .nav > li > a{padding: 0 40px;}

	
}
/* Default landscape and desktop to large desktop */
@media (max-width: 1199px) {
	
}
@media (min-width: 980px) and (max-width: 1199px) {
	
	
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {	

	
}
@media (min-width: 768px) and (max-width: 979px) {
	
	#inner{max-width: 896px; }

	.navbar-form input{width: 80px;}
	
	.nav-collapse_.collapse{height: auto!important; overflow: visible!important;}
	.navbar_ .btn-navbar{display: none;}

	.navbar_ .nav > li > a{padding: 0 13px; font-size: 14px;}




	
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	body{padding-left: 0; padding-right: 0;}
	.container{width: 440px;}

	#inner{max-width: 496px; }

	header{float: none; padding-bottom: 20px;}

	.top3{float: none;}

	.phone1{float: none;}

	.search-form-wrapper{float: none; padding-left: 0px; padding-top: 20px;}

	.navbar-form { float: left;}

	.navbar-form input{width: 370px;}

	.navbar_ .nav{display: block; background: #dbdbdb;}

	.navbar_ .nav > li{float: none; padding-left: 0; background: none; border-bottom: 1px solid #cfcfcf;}

	.sub-menu ul{position: relative; left: 0; top: 0;}

	.menu_wrapper{border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0;}

		
}
@media (min-width: 481px) and (max-width: 767px) {
	
	
	
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.container{width: 300px;}

	#inner{max-width: 480px; }

	.navbar-form input{width: 230px;}

	.page-404 .txt1{font-size: 150px; line-height: 150px;}
	.page-404 .txt2{font-size: 50px; line-height: 50px;}
	

	
}