﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Login.aspx.vb" Inherits="Aroma_ProductMaster.Login1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Product Master Login</title>


      <link rel="stylesheet" href="css2/style.css">

</head>
<body>
    <form id="form1" runat="server">
    <div>

     <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


     <img src="images/aroma/logo-aroma.png" alt="" height="60" >

     <br />

      <h3> Login Product Master</h3>
      <br />
        <%--  <input class="name" type="text" placeholder="Enter Username"/>



  <input class="pw" type="password" placeholder="Enter Password"/>--%>

  <asp:TextBox ID="txtUser" runat="server" class="name"
                placeholder="Enter Username" autofocus Width="100%"></asp:TextBox>

       <asp:TextBox ID="txtpassword" runat="server"  class="pw"
                placeholder="Enter Password" autofocus TextMode="Password" Width="100%"></asp:TextBox>



  <%--<li><a href="#">Forgot your password?</a></li>--%>

<%--  <input class="button" type="submit" value="Log in"/>--%>

        <asp:Button ID="btnLogin" runat="server" Text="Log in"  class="button" />
    
    </div>
    </form>
</body>
</html>
