﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="NewMaster_Mail.aspx.vb" Inherits="Aroma_ProductMaster.NewMaster_Mail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">    
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">

<script type="text/javascript" src="js/jquery.js"></script>  
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>

<script type="text/javascript" src="js/jquery.ui.totop.js"></script>

<script type="text/javascript" src="js/cform.js"></script>
<script>
    $(document).ready(function () {
        //	


    }); //
    $(window).load(function () {
        //

    }); //
</script>		
    <style type="text/css">
        .style1
        {
        }
        .style2
        {
        }
        .style4
        {
        }
        .style5
        {
            height: 43px;
        }
        .style6
        {
            height: 39px;
        }
        .style7
        {
            height: 49px;
            width: 162px;
        }
        .style8
        {
            width: 162px;
        }
        .style11
        {
            width: 368px;
        }
        .style13
        {
            width: 162px;
            height: 32px;
        }
        .style14
        {
            height: 32px;
        }
        </style>

             <script type = "text/javascript">
                 function SetTarget() {
                     document.forms[0].target = "_blank";
                 }
</script>

<!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>  
	<![endif]-->    

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <div id="main">
<div class="top1_wrapper">
<div class="top1">
<div class="container">
<div class="row">
<div class="span12">
<div class="top1_inner clearfix">
	
<div class="top2 clearfix">
<header><div class="logo_wrapper"><a href="index.html" class="logo">
        <img src="images/aroma/logotrans.png" alt="" >
        <%--<img src="images/aroma/Lion.png" alt="" width="100" >--%>
        </a></div>
        
  </header>	
<div class="top3 clearfix">
<div class="phone1">
	<div class="txt1">Request New Master</div>
	<div class="txt2">Product</div>
</div>

<div class="search-form-wrapper clearfix">

</div>
</div>

</div>

<%--<div class="menu_wrapper">
<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
            <li class="active"><a href="Main.aspx?username=<%=Request.QueryString("username") %>">Home</a></li>
           
            <li><a href="ProductMaster.aspx?username=<%=Request.QueryString("username") %>">Product Master</a></li>
            <li><a href="NewMaster.aspx?username=<%=Request.QueryString("username") %>">Request New Master</a></li>
            <li><a href="NewMasterAll.aspx?username=<%=Request.QueryString("username") %>">Request New Master All</a></li>
           
            <li><a href="Login.aspx">Sign Out</a></li>										
    </ul>
		</div>
	</div>
</div>	
</div>--%>

</div>	
</div>	
</div>	
</div>	
</div>	
</div>
<div id="inner">

<div id="content">
<div class="container">
<div class="row">
<div class="span12">

<div class="breadcrumbs1">New Master</div>



<div class="row">
<div class="span8">

<h1>แบบฟอร์มการขอตั้งรหัสสินค้าใหม่</h1>

</div>	

</div>



<div id="note"></div>
<div id="fields">

    <table bgcolor="#CCCCCC">
    <tr>
        <td class="style7">
            <asp:Label ID="Label1" runat="server" Text="บริษัท : " Font-Size="Medium" 
                Width="100px" Font-Bold="True"></asp:Label>
            <br />
        </td>
        <td colspan="4">

<%--              <asp:CheckBoxList ID="chkCompany" runat="server" RepeatColumns="3" 
                Font-Size="Medium" Width="420px" RepeatDirection="Horizontal">
                  <asp:ListItem Value="kvn">บจ. เค.วี.เอ็น.อิมปอร์ต เอ็กซ์ปอร์ต  (1991)</asp:ListItem>
                  <asp:ListItem Value="lion">บจ. ไลอ้อน ทรี-สตาร์</asp:ListItem>
              </asp:CheckBoxList>
--%>
            <asp:CheckBox ID="chkKVN" runat="server" 
                Text="บจ. เค.วี.เอ็น.อิมปอร์ต เอ็กซ์ปอร์ต  (1991)" />
        </td>
        <td colspan="2" class="style2" rowspan="4">

            <asp:Image ID="Image1" runat="server" Height="170px" Width="300px" 
                ForeColor="#999999" />
        </td>
    </tr>

   
    <tr>
        <td class="style7">
            &nbsp;</td>
        <td colspan="4">

            <asp:CheckBox ID="chkLION" runat="server" 
                Text="บจ. ไลอ้อน ทรี-สตาร์" />
        </td>
    </tr>

   

    <tr>
        <td class="style8">
            &nbsp;</td>
        <td colspan="4">

            <asp:Label ID="Label8" runat="server" Text="อื่นๆ ระบุ :" Font-Size="Medium"></asp:Label>

            <asp:TextBox ID="txtCompany" runat="server" Width="200px" Height="30px"></asp:TextBox>
              
        </td>
    </tr>

   
    <tr>
        <td class="style8">
            <asp:Label ID="Label2" runat="server" Text="ชื่อผู้ขอ : " Font-Size="Medium" 
                Width="100px" Font-Bold="True"></asp:Label></td>
        <td colspan="4">

            <asp:DropDownList ID="drpRequester" runat="server" Width="100%">
            </asp:DropDownList>
              
        </td>
    </tr>

   
    <tr>
        <td class="style13">
            <asp:Label ID="Label3" runat="server" Text="แผนกผู้ขอ" Font-Size="Medium" 
                Width="80px"></asp:Label>
            </td>
        <td colspan="4" class="style14">

            <asp:TextBox ID="txtDep" runat="server" Height="30px" Width="95%"></asp:TextBox>
              
        </td>
        <td colspan="2" class="style2">

            &nbsp;

            <asp:FileUpload ID="FileUpload1" runat="server" CssClass="sample" 
                style="font-family: Tahoma" Height="16px" />

             <asp:Button ID="btnSaveIMG" runat="server" Text="Save Image" />

             <asp:TextBox ID="txtpic" runat="server" BackColor="White" BorderColor="White" 
                 BorderWidth="0px" Width="10px"></asp:TextBox>
        </td>
    </tr>

   
    <tr>
        <td class="style13">
            <asp:Label ID="Label5" runat="server" Text="วันที่ :" Font-Size="Medium" 
                Width="50px" Font-Bold="False" Height="20px"></asp:Label>
        </td>
        <td colspan="4" class="style14">

             <asp:TextBox ID="txtRequestDate" runat="server" class="form-control" 
                 placeholder="yyyy-MM-DD" ClientIDMode="Static" 
                            Width="60%" Height="30px" ></asp:TextBox>
              
        </td>
        <td colspan="2" class="style2">

            &nbsp;</td>
    </tr>

   

   
    <tr>
        <td class="style13">
            &nbsp;</td>
        <td colspan="4" class="style14">

             &nbsp;</td>
        <td colspan="2" class="style2">

            &nbsp;</td>
    </tr>

   
   
    <tr>
        <td class="style8">
            <asp:Label ID="Label6" runat="server" 
                Text="วัตถุประสงค์ที่ขอตั้งรหัสสินค้าใหม่ : " Font-Size="Medium" 
                Width="150px" Font-Bold="True"></asp:Label>
            <br />
        </td>
        <td colspan="7">

           

            <asp:RadioButtonList ID="rdoObjective" runat="server" RepeatColumns="5" 
                Width="700px">
                  <asp:ListItem Value="สินค้าชุด/Promotion">สินค้าชุด/Promotion</asp:ListItem>
                  <asp:ListItem Value="สินค้าผลิตเพื่อขายหน้าร้าน">สินค้าผลิตเพื่อขายหน้าร้าน</asp:ListItem>           
                  <asp:ListItem Value="ซื้อสินค้าใหม่">ซื้อสินค้าใหม่</asp:ListItem>
                  <asp:ListItem Value="เพื่อซื้อสินค้าระหว่างกลุ่มอโรม่า">เพื่อซื้อสินค้าระหว่างกลุ่มอโรม่า</asp:ListItem>
                  <asp:ListItem Value="อื่นๆ">อื่นๆ</asp:ListItem>

            </asp:RadioButtonList>

        </td>
    </tr>

    <tr>
        <td class="style8">
            &nbsp;</td>
        <td align ="rigth" colspan="7">
            <asp:Label ID="Label9" runat="server" Text="อื่นๆ ระบุ :"></asp:Label>
            <asp:TextBox ID="txtObject" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
    </tr>

<%--     <tr>
        <td>
            <asp:Label ID="Label4" runat="server" 
                Text="ประเภทสินค้า  : " Font-Size="Medium" 
                Width="150px" Font-Bold="True"></asp:Label>
            <br />
            <br />
         </td>
        <td colspan="5">

              <asp:CheckBoxList ID="CheckBoxList3" runat="server" RepeatColumns="7" 
                Font-Size="Medium" Width="750px">
                  <asp:ListItem Value="kvn">สินค้าสำเร็จรูป(เพื่อขาย)</asp:ListItem>
                  <asp:ListItem Value="kvn">วัตถุดิบ(ใช้ผลิตสินค้า)</asp:ListItem>
                  <asp:ListItem Value="lion">บรรจุภัณฑ์ (หีบ/ห่อ)</asp:ListItem>
                  <asp:ListItem Value="lion">วัสดุสิ้นเปลือง</asp:ListItem>
                  <asp:ListItem Value="lion">เพื่อส่งเสริมการาย</asp:ListItem>     
                  <asp:ListItem Value="lion">เป็นตัวอย่าง</asp:ListItem>            
                  <asp:ListItem Value="lion">อื่นๆ</asp:ListItem>
              </asp:CheckBoxList>
        </td>
    </tr>--%><%--  <tr>
        <td class="style3">
            </td>
        <td align ="rigth" colspan="5" class="style3">
            <asp:Label ID="Label7" runat="server" Text="อื่นๆ ระบุ :"></asp:Label>
            <asp:TextBox ID="TextBox4" runat="server" Width="200px"></asp:TextBox>
        </td>
    </tr>--%>

    <tr>
        <td class="style8">
            <asp:Label ID="Label43" runat="server" Text="ประเภทสินค้า : " 
                Font-Size="Medium" Font-Bold="True"></asp:Label></td>
        <td align ="rigth" colspan="7">



            <asp:RadioButtonList ID="rdoProductType" runat="server" RepeatColumns="12" 
                Width="700px">
             <asp:ListItem Value="กิโลกรัม">กิโลกรัม</asp:ListItem>
                  <asp:ListItem Value="ลัง">ลัง</asp:ListItem>
            
                  <asp:ListItem Value="กล่อง">กล่อง</asp:ListItem>
                  <asp:ListItem Value="หีบ">หีบ</asp:ListItem>
                  <asp:ListItem Value="ห่อ">ห่อ</asp:ListItem>
                  <asp:ListItem Value="ซอง">ซอง</asp:ListItem>
                   <asp:ListItem Value="ถุง">ถุง</asp:ListItem>
                    <asp:ListItem Value="ชิ้น">ชิ้น</asp:ListItem>
                    <asp:ListItem Value="ขวด">ขวด</asp:ListItem>
                    <asp:ListItem Value="เครื่อง">เครื่อง</asp:ListItem>
                    <asp:ListItem Value="อื่นๆ">อื่นๆ</asp:ListItem>

            </asp:RadioButtonList>


        </td>
    </tr>

    <tr>
        <td class="style8">
            &nbsp;</td>
        <td align ="rigth" colspan="7">
            <asp:Label ID="Label44" runat="server" Text="อื่นๆ ระบุ :"></asp:Label>
            <asp:TextBox ID="txtProduct_Type" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
    </tr>

    <tr>
        <td class="style8">
            <asp:Label ID="Label10" runat="server" Text="ชื่อผู้ขาย : " Font-Size="Medium" 
                Width="100px" Font-Bold="True"></asp:Label></td>
        <td colspan="7">
            <asp:TextBox ID="txtSeller" runat="server" Width="50%" Height="30px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label11" runat="server" Text="ชื่อเรียกสินค้าของผู้ขาย : " Font-Size="Medium" 
                Width="190px" Font-Bold="True"></asp:Label></td>
        <td colspan="7">
            <asp:TextBox ID="txtItemDescSeller" runat="server" Width="100%" Height="30px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label12" runat="server" Text="หน่วยซื้อ : " Font-Size="Medium" 
                Font-Bold="True"></asp:Label>
            <br />
        </td>
        <td colspan="7">



            <asp:RadioButtonList ID="rdoUnitPurchase" runat="server" RepeatColumns="12" 
                Width="700px">
             <asp:ListItem Value="กิโลกรัม">กิโลกรัม</asp:ListItem>
                  <asp:ListItem Value="ลัง">ลัง</asp:ListItem>
            
                  <asp:ListItem Value="กล่อง">กล่อง</asp:ListItem>
                  <asp:ListItem Value="หีบ">หีบ</asp:ListItem>
                  <asp:ListItem Value="ห่อ">ห่อ</asp:ListItem>
                  <asp:ListItem Value="ซอง">ซอง</asp:ListItem>
                   <asp:ListItem Value="ถุง">ถุง</asp:ListItem>
                    <asp:ListItem Value="ชิ้น">ชิ้น</asp:ListItem>
                    <asp:ListItem Value="ขวด">ขวด</asp:ListItem>
                    <asp:ListItem Value="เครื่อง">เครื่อง</asp:ListItem>
                    <asp:ListItem Value="อื่นๆ">อื่นๆ</asp:ListItem>

            </asp:RadioButtonList>


        </td>
    </tr>
    <tr>
        <td class="style8">
            &nbsp;</td>
        <td class="style4" colspan="6">
            <asp:Label ID="Label13" runat="server" Text="อื่นๆ ระบุ :"></asp:Label>
            <asp:TextBox ID="txtUnitPurchase" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label14" runat="server" Text="ราคาซื้อจากผู้ขาย (ไม่รวม VAT) : " Font-Size="Medium" 
                Width="140px" Font-Bold="True"></asp:Label></td>
        <td class="style18">
            <asp:TextBox ID="txtPriceSell1" runat="server" Width="100px" TextMode="Number" 
                Height="30px">0</asp:TextBox>
            <asp:Label ID="Label15" runat="server" Text="บาท /" Font-Size="Medium"></asp:Label>
        </td>
        <td class="style4">
            &nbsp;</td>
        <td align =rigth class="style1"> 
            <asp:TextBox ID="txtPriceSell2" runat="server" Width="100px" TextMode="Number" 
                Height="30px">0</asp:TextBox>
            </td>
        <td align=right colspan="2">
            <asp:Label ID="Label16" runat="server" Text="ส่วนลด :" Font-Size="Medium" 
                Width="70px"></asp:Label>
            </td>
        <td class="style11">
            <asp:TextBox ID="txtDiscountSell" runat="server" Width="100px" 
                TextMode="Number" Height="30px">0</asp:TextBox>
        </td>
        <td>
            &nbsp;</td>
    </tr>

    <tr>
        <td class="style8">
            <asp:Label ID="Label17" runat="server" Text="กลุ่มสินค้าที่ซื้อ  : " 
                Font-Size="Medium" Font-Bold="True"></asp:Label>
            <br />
        </td>
        <td colspan="7">

            <asp:RadioButtonList ID="rdoPurchasedProductGroup" runat="server" 
                RepeatColumns="10" Width="700px">
               <asp:ListItem Value="coffee">coffee</asp:ListItem>
                  <asp:ListItem Value="Tea">Tea</asp:ListItem>
                  <asp:ListItem Value="Chocolat (ผงโกโก้)">Chocolat (ผงโกโก้)</asp:ListItem>
                  <asp:ListItem Value="Mix">Mix</asp:ListItem>
                  <asp:ListItem Value="เครื่องชง/เครื่องฯ">เครื่องชง/เครื่องฯ</asp:ListItem>
                   <asp:ListItem Value="อะไหล่">อะไหล่</asp:ListItem>
                    <asp:ListItem Value="Bakery">Bakery</asp:ListItem>
                     <asp:ListItem Value="อาหาร">อาหาร</asp:ListItem>
                     <asp:ListItem Value="อื่นๆ">อื่นๆ</asp:ListItem>
            </asp:RadioButtonList>

        </td>
    </tr>
    <tr>
        <td class="style8">
            &nbsp;</td>
        <td colspan="7">
            <asp:Label ID="Label18" runat="server" Text="อื่นๆ ระบุ :"></asp:Label>
            <asp:TextBox ID="txtPurchasedProductGroup" runat="server" Width="200px" 
                Height="30px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style15">
            <asp:Label ID="Label45" runat="server" Text="ข้อมูลการขายสำหรับ :" 
                Font-Size="Medium" Font-Bold="False"></asp:Label>
            </td>
        <td colspan="4" class="style16">
            <asp:CheckBox ID="chkSale1" runat="server" 
                Text="เฉพาะลูกค้า (ชื่อลูกค้า+รหัส+หรือกลุ่ม)" />
            </td>
        <td colspan="3" class="style16">
            <asp:TextBox ID="txtSale1_text" runat="server" Width="100%" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
    <tr>
        <td class="style15">
            &nbsp;</td>
        <td colspan="4" class="style16">
            <asp:CheckBox ID="chkSale2" runat="server" 
                Text="Aroma Shop (ชื่อลูกค้า+รหัส+หรือกลุ่ม)" />
            </td>
        <td colspan="3" class="style16">
            <asp:TextBox ID="txtSale2_text" runat="server" Width="100%" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
    <tr>
        <td class="style15">
            &nbsp;</td>
        <td colspan="4" class="style16">
            <asp:CheckBox ID="chkSale3" runat="server" 
                Text="ลูกค้าทั่วไป (รหัสลูกค้า+หรือกลุ่ม)" />
            </td>
        <td colspan="3" class="style16">
            <asp:TextBox ID="txtSale3_text" runat="server" Width="100%" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
    <tr>
        <td class="style15">
            &nbsp;</td>
        <td colspan="4" class="style16">
            <asp:CheckBox ID="chkSale4" runat="server" Text="อื่นๆ  (ระบุ)" />
            </td>
        <td colspan="3" class="style16">
            <asp:TextBox ID="txtSale4_text" runat="server" Width="100%" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
    </table>
    <table>
    <tr>
        <td colspan="4" class="style5">
            <asp:Label ID="Label19" runat="server" Text="รายละเอียดสินค้าในระบบ Mac5 " 
                Font-Size="Large" Font-Bold="True"></asp:Label></td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label30" runat="server" Text="รหัสสินค้าหลัก :" 
                Font-Bold="False"></asp:Label>
            </td>
        <td colspan="3">
            <asp:TextBox ID="txtItem" runat="server" Width="50%" Height="30px"></asp:TextBox>
        </td>
    </tr>
   
   
  
    <tr>
        <td class="style8">
            <asp:Label ID="Label31" runat="server" Text="รหัสรอง/รหัสเครื่อง POS :" 
                Font-Bold="False"></asp:Label>
            </td>
        <td colspan="3">
            <asp:TextBox ID="txtItemPOS" runat="server" Width="50%" Height="30px"></asp:TextBox>
        </td>
    </tr>
   
   
  
    <tr>
        <td class="style8">
            <asp:Label ID="Label20" runat="server" Text="ชื่อสินค้าในระบบ MAC5 " 
                Font-Bold="False"></asp:Label>
            </td>
        <td colspan="3">
            <asp:TextBox ID="txtItemDescription" runat="server" Width="100%" Height="30px"></asp:TextBox>
        </td>
    </tr>
   
   
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label33" runat="server" Text="* Product Type  : " 
                Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:DropDownList ID="drpProductType" runat="server" Width="400px" 
                AutoPostBack="True" Height="30px">
            </asp:DropDownList>
        </td>
        <td class="style4">
            <asp:Label ID="lblProductType" runat="server" Text="อื่นๆ ระบุ" 
                Font-Bold="False" Visible="False"></asp:Label>
            </td>
        <td align =rigth> 
            <asp:TextBox ID="txtProductType" runat="server" Width="200px" Visible="False" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
  
    
  
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label34" runat="server" Text="* Product Category  : " 
                Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:DropDownList ID="drpProductCat" runat="server" Width="400px" 
                AutoPostBack="True">
            </asp:DropDownList>
        </td>
        <td class="style4">
            <asp:Label ID="lblProductCat" runat="server" Text="อื่นๆ ระบุ" 
                Font-Bold="False" Visible="False"></asp:Label>
            </td>
        <td align =rigth> 
            <asp:TextBox ID="txtProductCat" runat="server" Width="100%" Visible="False" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
  
    
  
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label35" runat="server" 
                Text=" * Product Group / Machine Type  : " Font-Bold="False" Width="200px"></asp:Label>
            </td>
        <td class="style18">
            <asp:DropDownList ID="drpProductGroup" runat="server" Width="400px" 
                AutoPostBack="True">
            </asp:DropDownList>
        </td>
        <td class="style4">
            <asp:Label ID="lblProductGroup" runat="server" Text="อื่นๆ ระบุ" 
                Font-Bold="False" Visible="False"></asp:Label>
            </td>
        <td align =rigth> 
            <asp:TextBox ID="txtProductGroup" runat="server" Width="100%" Visible="False" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
  
    
  
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label36" runat="server" Text="Brand  : " Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:TextBox ID="txtBrand" runat="server" Width="90%" Height="30px"></asp:TextBox>
        </td>
        <td class="style4">
            <asp:Label ID="Label37" runat="server" Text="Model  : " Font-Bold="False"></asp:Label>
            </td>
        <td align =rigth> 
            <asp:TextBox ID="txtModel" runat="server" Width="100%" Height="30px"></asp:TextBox>
            </td>
    </tr>
  
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label38" runat="server" Text="Group Head : " Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:DropDownList ID="drpGroup" runat="server" Width="90%">
                <asp:ListItem></asp:ListItem>
                <asp:ListItem>1 Group</asp:ListItem>
                <asp:ListItem>2 Group</asp:ListItem>
                <asp:ListItem>3 Group</asp:ListItem>
            </asp:DropDownList>
        </td>
        <td class="style4">
            <asp:Label ID="Label39" runat="server" Text="Color : " Font-Bold="False"></asp:Label>
            </td>
        <td align =rigth> 
            <asp:TextBox ID="txtColor" runat="server" Width="100%" Height="30px"></asp:TextBox>
            </td>
    </tr>
  
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label40" runat="server" Text="Option 1 : " Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:TextBox ID="txtOption1" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td class="style4">
            <asp:Label ID="Label41" runat="server" Text="Option 2 : " Font-Bold="False"></asp:Label>
            </td>
        <td align =rigth> 
            <asp:TextBox ID="txtOption2" runat="server" Width="100%" Height="30px"></asp:TextBox>
            </td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label42" runat="server" Text="Option 3 : " Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:TextBox ID="txtOption3" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td class="style4">
            <asp:Label ID="Label23" runat="server" Text="คลังสินค้าหลัก/สโตร์  : " 
                Font-Bold="False" Width="145px"></asp:Label>
            </td>
        <td align ="rigth"> 
            <asp:TextBox ID="txtWarehouse" runat="server" Width="100%" TextMode="Number" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label21" runat="server" Text="หน่วยนับหลัก  : " 
                Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:TextBox ID="txtUnitMain" runat="server" Width="200px" TextMode="Number" 
                Height="30px"></asp:TextBox>
        </td>
        <td class="style4">
            <asp:Label ID="Label22" runat="server" Text="หน่วยนับเล็กสุด  : " 
                Font-Bold="False" Width="130px"></asp:Label>
            </td>
        <td align ="rigth"> 
            <asp:TextBox ID="txtUnitSmall" runat="server" Width="100%" TextMode="Number" 
                Height="30px"></asp:TextBox>
            </td>
    </tr>
    <tr>
        <td class="style7">
            <asp:Label ID="Label4" runat="server" 
                Text="ลักษณะการบรรจุ/หน่วยเทียบในระบบ MAC5" Font-Bold="False" Width="210px"></asp:Label>
            </td>
        <td class="style17">

            <asp:RadioButtonList ID="rdoPacking" runat="server" 
                RepeatColumns="10" Width="200px">
               <asp:ListItem Value="NO">ไม่มี</asp:ListItem>
                  <asp:ListItem Value="YES">มี</asp:ListItem>
            </asp:RadioButtonList>

        </td>
        <td class="style17">

            <asp:Label ID="Label46" runat="server" Text="(ต้องระบุ ถ้ามี)" 
                Font-Size="Small" Font-Bold="False"></asp:Label>

        </td>
        <td class="style17">

            <asp:TextBox ID="txtPacking_detail" runat="server" Width="100%" Height="30px"></asp:TextBox>

        </td>
    </tr>
   
    </table>
    <table>
      
        <tr>
        <td class="style6" colspan="13">
            <asp:Label ID="Label7" runat="server" Text="ข้อมูลราคาสินค้า" 
                Font-Size="Large" Font-Bold="True"></asp:Label></td>
    </tr>


    <tr>
        <td>
            <asp:Label ID="Label47" runat="server" Text="ราคาซื้อ ปลีก (ไม่รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice1_1" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label76" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtPrice1_2" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td >
            <asp:Label ID="Label51" runat="server" Text="ราคาขาย (รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="110px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice1_3" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td>
            <asp:Label ID="Label52" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice1_4" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            &nbsp;</td>
        <td>
            <asp:Label ID="Label53" runat="server" Text="ส่วนลด" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice1_5" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
    </tr>
      <tr>
        <td>
            <asp:Label ID="Label80" runat="server" Text="ราคาซื้อ ส่ง (ไม่รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice2_1" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label77" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtPrice2_2" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td >
            <asp:Label ID="Label67" runat="server" Text="ราคาขาย (รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="110px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice2_3" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td>
            <asp:Label ID="Label73" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice2_4" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            &nbsp;</td>
        <td>
            <asp:Label ID="Label70" runat="server" Text="ส่วนลด" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice2_5" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
    </tr>
      <tr>
        <td>
            <asp:Label ID="Label81" runat="server" Text="ราคาขาย ปลีก (ไม่รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice3_1" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label78" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtPrice3_2" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td >
            <asp:Label ID="Label68" runat="server" Text="ราคาขาย (รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="110px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice3_3" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td>
            <asp:Label ID="Label74" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice3_4" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            &nbsp;</td>
        <td>
            <asp:Label ID="Label71" runat="server" Text="ส่วนลด" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice3_5" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
    </tr>
      <tr>
        <td>
            <asp:Label ID="Label82" runat="server" Text="ราคาขาย ส่ง (ไม่รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice4_1" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label79" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtPrice4_2" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td >
            <asp:Label ID="Label69" runat="server" Text="ราคาขาย (รวมVAT)" 
                Font-Size="Small" Font-Bold="False" Width="110px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrice4_3" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
            </td>
        <td>
            <asp:Label ID="Label75" runat="server" Text="บาท/" 
                Font-Size="Small" Font-Bold="False" Width="30px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice4_4" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
        <td>
            &nbsp;</td>
        <td>
            <asp:Label ID="Label72" runat="server" Text="ส่วนลด" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="txtPrice4_5" runat="server" Width="100px" Height="30px" 
                TextMode="Number"></asp:TextBox>
        </td>
    </tr>
    </table>
    <table>

       <tr>
        <td class="style6" colspan="6">
            <asp:Label ID="Label48" runat="server" Text="ข้อมูลสำคัญสินค้า (กรอกข้อมูลทุกช่อง)" 
                Font-Size="Large" Font-Bold="True"></asp:Label></td>
    </tr>

    
    <tr>
        <td>
            <asp:Label ID="Label49" runat="server" Text="PRODUCT CODE (สินค้าผลิต)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtProduct_code" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label50" runat="server" Text="เป็นสินค้ากลุ่ม ภาษีน้ำตาล" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td > 
            <asp:RadioButtonList ID="rdoSuger" runat="server" RepeatColumns="2" 
                Width="100px">
                <asp:ListItem>NO</asp:ListItem>
                <asp:ListItem>YES</asp:ListItem>
            </asp:RadioButtonList>
            </td>
        <td >
            &nbsp;</td>
        <td >
            &nbsp;</td>
    </tr>

    
    <tr>
        <td class="style20">
            <asp:Label ID="Label83" runat="server" Text="อายุของสินค้า(วัน)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td class="style20" >
            <asp:TextBox ID="txtProduct_age" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td class="style20">
            </td>
        <td class="style20" > 
            </td>
        <td class="style20" >
            </td>
        <td class="style20" >
            </td>
    </tr>

    
    <tr>
        <td>
            <asp:Label ID="Label84" runat="server" Text="Barcode (pcs)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtBarcode_pcs" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label85" runat="server" Text="Barcode (Case)" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtBarcode_case" runat="server" Width="200px" Height="30px"></asp:TextBox>
            </td>
        <td >
            &nbsp;</td>
        <td >
            &nbsp;</td>
    </tr>

    
    <tr>
        <td>
            <asp:Label ID="Label86" runat="server" Text="Primary group" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPrimary_group" runat="server" Width="200px" Height="30px"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label87" runat="server" Text="Product Category" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtProduct_category" runat="server" Width="200px" 
                Height="30px"></asp:TextBox>
            </td>
        <td >
            &nbsp;</td>
        <td >
            &nbsp;</td>
    </tr>

    
    <tr>
        <td>
            <asp:Label ID="Label88" runat="server" Text="สินค้านำเข้าคลัง LFDC" 
                Font-Size="Small" Font-Bold="False" Width="150px"></asp:Label>
            </td>
        <td >
            <asp:RadioButtonList ID="rdoLFDC" runat="server" RepeatColumns="2" 
                Width="100px">
                <asp:ListItem>NO</asp:ListItem>
                <asp:ListItem>YES</asp:ListItem>
            </asp:RadioButtonList>
        </td>
        <td>
            &nbsp;</td>
        <td > 
            &nbsp;</td>
        <td >
            &nbsp;</td>
        <td >
            &nbsp;</td>
    </tr>
       </table>
    <table>

    <tr>
        <td>
            <asp:Label ID="Label89" runat="server" Text="ขนาดบรรจุภัณฑ์ (PCS) กว้าง" 
                Font-Size="Small" Font-Bold="False"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPcs_wide" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label90" runat="server" Text="X ยาว" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtPcs_long" runat="server" Width="100px" Height="30px"></asp:TextBox>
            </td>
        <td >
            <asp:Label ID="Label91" runat="server" Text="X สูง" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
            </td>
        <td class="style21" >
            <asp:TextBox ID="txtPcs_hight" runat="server" Width="100px" Height="30px"></asp:TextBox>
            </td>
        <td class="style21" >
            <asp:Label ID="Label92" runat="server" Text="(CM) น้ำหนัก" 
                Font-Size="Small" Font-Bold="False" Width="100px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtPcs_weight" runat="server" Width="100px" Height="30px"></asp:TextBox>
            </td>
        <td >
            <asp:Label ID="Label93" runat="server" Text="Kg." 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
            </td>
    </tr>

    
    <tr>
        <td>
            <asp:Label ID="Label94" runat="server" Text="ขนาดบรรจุภัณฑ์ (CASE) กว้าง" 
                Font-Size="Small" Font-Bold="False"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtCase_wide" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label98" runat="server" Text="X ยาว" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtCase_long" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td >
            <asp:Label ID="Label97" runat="server" Text="X สูง" 
                Font-Size="Small" Font-Bold="False" Width="50px"></asp:Label>
            </td>
        <td class="style21" >
            <asp:TextBox ID="txtCase_hight" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td class="style21" >
            <asp:Label ID="Label95" runat="server" Text="(CM) น้ำหนัก" 
                Font-Size="Small" Font-Bold="False" Width="100px"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtCase_weight" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td >
            <asp:Label ID="Label96" runat="server" Text="Kg." 
                Font-Size="Small" Font-Bold="False"></asp:Label>
            </td>
    </tr>

    
    <tr>
        <td>
            <asp:Label ID="Label99" runat="server" Text="กำหนดหน่วย : นับสต็อค" 
                Font-Size="Small" Font-Bold="False"></asp:Label>
            </td>
        <td >
            <asp:TextBox ID="txtCount_stock" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td>
            <asp:Label ID="Label100" runat="server" Text="หน่วยขาย" 
                Font-Size="Small" Font-Bold="False" Width="60px"></asp:Label>
            </td>
        <td > 
            <asp:TextBox ID="txtSales_unit" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td >
            <asp:Label ID="Label101" runat="server" Text="หน่วยซื้อ" 
                Font-Size="Small" Font-Bold="False" Width="60px"></asp:Label>
            </td>
        <td class="style21" >
            <asp:TextBox ID="txtPurchase_unit" runat="server" Width="100px" Height="30px"></asp:TextBox>
        </td>
        <td class="style21" >
            &nbsp;</td>
        <td >
            &nbsp;</td>
        <td >
            &nbsp;</td>
    </tr>
     </table>

      <table>
    <tr>
        <td class="style6" colspan="13">
            <asp:Label ID="Label24" runat="server" Text="ข้อมูลสินค้าระหว่างกลุ่มอโรม่า" 
                Font-Size="Large" Font-Bold="True"></asp:Label></td>
    </tr>
    <tr>
        <td class="style8">
            <asp:Label ID="Label25" runat="server" 
                Text="ราคาขายระหว่างกลุ่มฯ(ไม่รวม VAT)  : " Font-Bold="False"></asp:Label>
            </td>
        <td class="style18">
            <asp:TextBox ID="txtPrice1" runat="server" Width="100px" TextMode="Number" 
                Height="30px">0</asp:TextBox>
            <asp:Label ID="Label28" runat="server" Text="บาท /" Font-Size="Medium"></asp:Label>
            </td>
        <td class="style4">
            &nbsp;</td>
        <td align ="rigth" class="style1"> 
            <asp:Label ID="Label26" runat="server" Text="ราคาขาย(รวม VAT)  : " 
                Font-Bold="False" Width="130px"></asp:Label>
            </td>
        <td colspan="2">
            <asp:TextBox ID="txtPrice2" runat="server" Width="100px" TextMode="Number" 
                Height="30px">0</asp:TextBox>
            <asp:Label ID="Label29" runat="server" Text="บาท /"></asp:Label>
            </td>
        <td align =right class="style11" colspan="6">
            <asp:Label ID="Label27" runat="server" Text="ส่วนลด  : " Font-Bold="False"></asp:Label>
            </td>
        <td>
            <asp:TextBox ID="txtDiscount" runat="server" Width="100px" TextMode="Number" 
                Height="30px">0</asp:TextBox>
        </td>
    </tr>
    
    <tr>
        <td class="style8">
            <asp:Label ID="Label32" runat="server" Text="หมายเหตุ/เพิ่มเติม  : " 
                Font-Size="Medium" Font-Bold="True"></asp:Label>
            </td>
        <td class="style4" colspan="12">
            <asp:TextBox ID="txtRemark" runat="server" Width="100%" Height="40px" 
                TextMode="MultiLine"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style8">
            &nbsp;</td>
        <td class="style4" colspan="12">
            &nbsp;</td>
    </tr>
  <%--  <tr>
        <td class="style8">
            &nbsp;</td>
        <td class="style4" colspan="12">

        <asp:Button ID="btnSave" runat="server" Text="Save" class="btn btn-primary" 
                BackColor="#003399" BorderColor="#0066FF" Font-Bold="True" Font-Size="Medium" 
                ForeColor="White" Height="35px" Width="100px"/>

            &nbsp;
            
            <asp:Button ID="btnSubmit" runat="server" Text="Submit" class="btn btn-primary" 
                BackColor="#003399" BorderColor="#0066FF" Font-Bold="True" Font-Size="Medium" 
                ForeColor="White" Height="35px" Width="100px"/>
                
                </td>
    </tr>--%>
      <tr>
        <td class="style8">
            &nbsp;</td>
        <td class="style4" colspan="12">

        <asp:Button ID="btnReport" runat="server" Text="Print แบบฟอร์ม" class="btn btn-primary"  OnClientClick = "SetTarget();"
                BackColor="#003399" BorderColor="#0066FF" Font-Bold="True" Font-Size="Medium" 
                ForeColor="White" Height="35px"/>

  
                </td>
    </tr>
    </table>



    

</div>	

	
	

</div>	
</div>	
</div>	
</div>


<div class="bot1">
<div class="container">
<div class="row">
<div class="span12">
<div class="bot1_inner">
<div class="row">
<div class="span4">
	
<div class="logo2_wrapper"><a href="index.html" class="logo2"><img src="images/aroma/logotrans.png" alt=""></a></div>

<footer><div class="copyright">Copyright   © 2018. All rights reserved.<br><a href="#">Aroma Group</a></div></footer>


</div>
<div class="span4">
	
<div class="bot1_title">Contact Us</div>

สำนักงานใหญ่ อโรม่า กรุ๊ป<br>
บริษัท เค.วี.เอ็น.อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด<br>
เลขที่ 43 ชั้น 2 ซอยนาคนิวาส 6 ถนนนาคนิวาส แขวงลาดพร้าว <br>
เขตลาดพร้าว กรุงเทพฯ 10230<br>
โทรศัพท์ : 02 159-8999<br>
โทรสาร : 02 538-8144, 02 539-5597

<%--E-mail: <a href="#">mail@demosite.com</a>--%>


</div>
<div class="span4">
	
<%--<div class="bot1_title">Follow Us:</div>	

<div class="social_wrapper">
		<ul class="social clearfix">
	    <li><a href="#"><img src="images/social_ic1.png"></a></li>
	    <li><a href="#"><img src="images/social_ic2.png"></a></li>
	    <li><a href="#"><img src="images/social_ic3.png"></a></li>	    
	    <li><a href="#"><img src="images/social_ic4.png"></a></li>
		</ul>
	</div>
--%>


</div>	

</div>	
</div>
</div>	
</div>	
</div>	
</div>

</div>	
</div>
<script type="text/javascript" src="js/bootstrap.js"></script>


 <%--date--%>
               <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
                    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>
                    <link type="text/css" rel="Stylesheet" href="http://ajax.microsoft.com/ajax/jquery.ui/1.8.16/themes/redmond/jquery-ui.css" />

                    <script type="text/javascript">
                        //ประกาศตัวแปรเพื่อรับใหม่
                        $jq = $.noConflict();
                        $jq().ready(

                 function () {
                     $jq('#<%=txtRequestDate.ClientID%>').datepicker(
                     {

                         dateFormat: 'yy-mm-dd',

                     }
                     );

                  
                 });     
            </script>
              <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#drpProductType").select2({
                    });
                });

                $(document).ready(function () {
                    $("#drpProductCat").select2({
                    });
                });

                $(document).ready(function () {
                    $("#drpProductGroup").select2({
                    });
                });

                $(document).ready(function () {
                    $("#drpGroup").select2({
                    });
                });

            </script>  


    </div>
    </form>
</body>
</html>